git_ignore/.
git_ignore/GetFultonData.R
git_ignore/HA2_Fulton.do
git_ignore/HA2_Fulton.log
git_ignore/LOG.MD
git_ignore/HA_Submissions/ha1/ariasnicole_263645_29905426_HA01_Log_Nicole_Arias_ARE256B_2026.pdf
git_ignore/HA_Submissions/ha1/ariasnicole_263645_29905427_HA01_Report_Nicole_Arias_ARE256B_2026.pdf
git_ignore/HA_Submissions/ha1/choisooyoung_388663_29902689_ARE256B_HA1_Log_SC_final.pdf
git_ignore/HA_Submissions/ha1/choisooyoung_388663_29902690_ARE256B_HA1_SC.pdf
git_ignore/HA_Submissions/ha1/chungkaiming_429178_29859396_HW1_Result.log
git_ignore/HA_Submissions/ha1/chungkaiming_429178_29859398_256B HW1 Kai-1.pdf
git_ignore/HA_Submissions/ha1/douglaskieran_424796_29895208_log_ha1.pdf
git_ignore/HA_Submissions/ha1/douglaskieran_424796_29895209_report_ha1.pdf
git_ignore/HA_Submissions/ha1/fultonmatthew_403941_29900409_fulton_ARE256B_HA1.pdf
git_ignore/HA_Submissions/ha1/fultonmatthew_403941_29900410_ha1_matt_fulton_log.pdf
git_ignore/HA_Submissions/ha1/meiruiheng_298645_29904689_ps1.do
git_ignore/HA_Submissions/ha1/meiruiheng_298645_29904690_ps1log.pdf
git_ignore/HA_Submissions/ha1/meiruiheng_298645_29904692_ps1graph.pdf
git_ignore/HA_Submissions/ha1/razaafra_338542_29902382_Homework 1 Code.pdf
git_ignore/HA_Submissions/ha1/razaafra_338542_29902383_regtablema.pdf
git_ignore/HA_Submissions/ha1/shenellen_423759_29899447_256B_PS1 (1).pdf
git_ignore/HA_Submissions/ha1/shenellen_423759_29899449_ps1_log.pdf
git_ignore/HA_Submissions/ha1/spencerconnor_LATE_338891_29958128_hw1_log.pdf
git_ignore/HA_Submissions/ha1/spencerconnor_LATE_338891_29958129_are256bhw1.docx
git_ignore/HA_Submissions/ha1/vanfleeterica_289111_29902283_Van Fleet 256B HW 1.pdf
git_ignore/HA_Submissions/ha1/vanfleeterica_289111_29902284_Van Fleet 256B Hwk 1 .do file.pdf
git_ignore/HA_Submissions/ha1/wellsconnor_424703_29898298_256b ps1 code connor wells.pdf
git_ignore/HA_Submissions/ha1/wellsconnor_424703_29898299_256b ps1 Connor Wells.pdf
git_ignore/HA_Submissions/ha1/zhaojiadong_400692_29877797_PS1_Jiadong Zhao_report-1.pdf
git_ignore/HA_Submissions/ha1/zhaojiadong_400692_29877798_code_PS1_all-1.pdf
git_ignore/HA_Submissions/ha1/zhaomengzi_430213_29901561_PS1-MengziZhao-Result.pdf
git_ignore/HA_Submissions/ha1/zhaomengzi_430213_29901563_PS1-MengziZhao-logfile.pdf
